<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3" routerLink="/">Kisállat kereskedés</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
        <i class="fas fa-bars"></i>
    </button>
    <ul class="navbar-nav ms-auto me-3 me-lg-4">
        <span *ngIf="user" class="text-white my-auto">Üdv {{user.last_name}}!</span>
        <li *ngIf="user" class="nav-item dropdown">
            <button *ngIf="!user" routerLink="/login" class="btn btn-success">
                <i class="fas fa-user"></i>
            </button>
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item cursor" routerLink="/profile">Profil</a>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li>
                    <a class="dropdown-item cursor" (click)="onLogout()">Kilépés</a>
                </li>
            </ul>
        </li>
        <button routerLink="/login" *ngIf="!user" class="btn btn-success">
            <div class="d-block">
                Bejelentkezés &nbsp;
                <i class="fas fa-sign-in-alt"></i>
            </div>
        </button>
    </ul>
</nav>