<div class="row m-1">
    <h1>Üdvözöljük oldalunkon!</h1>
    <h3 class="my-3">Szakmai felkészültség, színvonalas kiszolgálás, kulturált körülmények, korrekt árak.</h3>
    <h5 class="my-3">Nézzen szét áruházunkban és találja meg nálunk legújabb házi kedvencét! De nem csak egy új szeretni
        való barátot, hanem a számára ideális felszereléseket, tárolókat és eledeleket is beszerezheti egy helyen.
    </h5>
</div>
<div class="row m-1">
    <div *ngFor="let card of cardData" class="col-12 col-md-4 col-offset-1 col-md-offset-4 p-3">
        <div class="card alert-info shadow p-3 h-100 cursor" [routerLink]="card.link">
            <img src="{{card.img}}" class="card-img-top rounded" alt="{{card.name}}">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-center my-1">{{card.name.toUpperCase()}}</h5>
                <p class="card-text text-center text-primary justify-content-center mt-auto">{{card.description}}</p>
            </div>
        </div>
    </div>
</div>