<div class="row m-1">
    <h1>Üdvözöljük oldalunkon!</h1>
    <h3 class="my-3">Szakmai felkészültség, színvonalas kiszolgálás, kulturált körülmények, korrekt árak.</h3>
    <h5 class="my-3">Nézzen szét áruházunkban és találja meg nálunk legújabb házi kedvencét! De nem csak egy új szeretni
        való barátot, hanem a számára ideális felszereléseket, tárolókat és eledeleket is beszerezheti egy helyen.
    </h5>
</div>
<div class="row d-flex">
    <div *ngFor="let card of cardData" class="col-12 col-md-4 col-offset-1 col-md-offset-4 p-3">
        <div class="card mb-3 alert alert-warning mx-auto cursor" [routerLink]="card.link"
            style="max-width: 540px; min-height: 250px;">
            <div class="row g-0 my-auto">
                <div class="col-12">
                    <img src="{{card.img}}" class="img-fluid rounded-start d-flex mx-auto" alt="{{card.img}}">
                </div>
                <div class="col-12">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{card.name.toUpperCase()}}</h5>
                        <p class="card-text text-center text-danger">{{card.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>