<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div>
                    <div class="sb-sidenav-menu-heading pt-0"></div>
                    <a class="nav-link" routerLink="/">
                        <div class="sb-nav-link-icon"><i class="fas fa-home"></i>
                        </div> Kezdőlap
                    </a>
                    <div class="sb-sidenav-menu-heading">Áruház</div>
                    <a class="nav-link" routerLink="/animal-cards">
                        <div class="sb-nav-link-icon"><i class="fas fa-paw"></i>
                        </div> Kisállatok
                    </a>
                    <a class="nav-link" routerLink="/food-cards">
                        <div class="sb-nav-link-icon"><i class="fas fa-cookie"></i>
                        </div> Eledelek
                    </a>
                    <a class="nav-link" routerLink="/equipment-cards">
                        <div class="sb-nav-link-icon"><i class="fas fa-igloo"></i>
                        </div> Felszerelések
                    </a>
                </div>
                <div *ngIf="user">
                    <div class="sb-sidenav-menu-heading">Adatlisták</div>
                    <a class="nav-link" routerLink="/animals">
                        <div class="sb-nav-link-icon"><i class="fas fa-fish"></i>
                        </div> Kisállatok
                    </a>
                    <a class="nav-link" routerLink="/orders">
                        <div class="sb-nav-link-icon"><i class="fas fa-credit-card"></i>
                        </div> Rendelések
                    </a>
                    <a class="nav-link" routerLink="/products">
                        <div class="sb-nav-link-icon"><i class="fas fa-shopping-bag"></i>
                        </div> Termékek
                    </a>
                    <a class="nav-link" routerLink="/users">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i>
                        </div> Felhasználók
                    </a>
                    <a class="nav-link" routerLink="/address">
                        <div class="sb-nav-link-icon"><i class="fas fa-envelope"></i>
                        </div> Címek
                    </a>
                    <a class="nav-link" routerLink="/events">
                        <div class="sb-nav-link-icon"><i class="fab fa-elementor"></i>
                        </div> Események
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>