<div class="row m-1">
    <h1>Felszerelések</h1>
    <p class="h5 my-3">Válasszon kiskedvencéhez megfelelő felszereléseket! A képre kattintva további információkat
        olvashat az adott termékről.
    </p>
</div>
<div class="row d-flex">
    <div *ngFor="let equipment of equipmentList$ | async" class="col-12 col-sm-6 col-md-4 col-xl-3 col-offset-1 p-3">
        <div class="card mb-3 alert alert-secondary mx-auto" style="max-width: 540px; min-height: 250px;">
            <div class="row g-0 my-auto">
                <div class="col-12">
                    <img (click)="onClickImage(equipment)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        src="{{equipment.img}}" class="img-fluid rounded-start d-block mx-auto cursor"
                        alt="{{equipment.img}}">
                </div>
                <div class="col-12">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{equipment.name.toUpperCase()}}</h5>
                        <p class="card-text text-center">{{equipment.goodFor}}</p>
                        <p class="card-text text-center text-danger">{{equipment.price}} Ft</p>
                    </div>
                </div>
                <button *ngIf="user$.role" class="btn btn-primary btn-lg">
                    <i class="fas fa-cart-arrow-down"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle.toUpperCase()}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center">{{modalText[0]}}</p>
                <p *ngIf="modalText[1]" class="text-center">{{modalText[1]}}</p>
                <p *ngIf="modalText[2]" class="text-center">{{modalText[2]}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezárás</button>
            </div>
        </div>
    </div>
</div>