<div class="card mb-4">
    <div class="card-header">
        <div>
            <i class="fas fa-table me-1"></i>
            {{tableTitle}}
        </div>
        <div class="col-8 col-offset-2 my-3 mx-auto alert-primary">
            <form class="row g-3">
                <div class="col-auto ml-auto">
                    <select [(ngModel)]="filterKey" class="form-select">
                        <option selected disabled>Válasszon kategóriát!</option>
                        <option *ngFor="let entity of tableColumns" [value]="entity.key">{{ entity.title }}</option>
                    </select>
                </div>
                <div class="col-auto">
                    <input (keyup)="onSearch($event)" class="form-control" type="text" name="search"
                        placeholder="Keresés...">
                </div>
                <div class="col-auto mr-auto">
                    <button class="btn btn-primary mb-3" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="card-body">
        <div class="col-12 px-0">
            <button class="btn btn-success btn-large btn-block" routerLink='/{{entityName}}/0'>
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let table of tableColumns" (click)="onColumnSelect(table.key)">
                        {{table.title}}
                    </th>
                    <th>MŰVELETEK</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entity of list$ | async | search: filterKey: phrase | sort: columnKey: sortDir">
                    <td *ngFor="let item of tableColumns">
                        <span *ngIf="!item.htmlOutput; else elseBlock">
                            {{ entity[item.key] | xPipe:item.pipes:item.pipeArgs }}
                        </span>
                        <ng-template #elseBlock>
                            <span [innerHTML]="item.htmlOutput(entity[item.key])"></span>
                        </ng-template>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button (click)="onSelectEntity(entity)" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button (click)="onDeleteEntity(entity)" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th *ngFor="let table of tableColumns">{{table.title}}</th>
                    <th>MŰVELETEK</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>